/*@charset "utf-8";*/

body {
  font-family: Lucida Console;
  /*overflow:hidden;*/
  background-color:black;
}
progress {
  display: block;
  width:100%;
  color:green;
  background-color:red;
  -webkit-appearance: none;
   appearance: none;
   writing-mode: lr-tb;
   margin-left: -7px;
}
progress::-webkit-progress-bar {
    background: red;
}
progress::-moz-progress-bar {
    background: red;
}

progress::-webkit-progress-value {
    background: green;
}
progress::-moz-progress-value {
    background: green;
}
h1,h2,h3 {
  text-align:center;
}
button {
    outline-style: none;
}


.bigForm{
  padding:10px;
  width:85%;
  background-color:black;
  margin-left:auto;
  margin-right:auto;
}
  .title {
    color:#33ccff;
  }
.monitorBlock {
  /*width:760px;*/
  height:475px;
  padding:185px 312px 120px 185px;
  /*padding:20% 30% 25% 25%;*/
  color:#33ccff;
  background-image:url(./image/MonitorJPG.jpg);
  background-size:cover;
}  
  .commonColumnBlock {
    /*width:500px;*/
    /*width:80%;*/
  }
    .leftColumn{
      float:left;
      width:44%;
      /*height:400px;*/
      margin-top:10px;
      padding:0 4%;
      overflow:auto;
      border-right: 2px solid #33ccff;
      /*background-color:#000033;*/
    }
    .rightColumn{
      margin-top:10px;
      float:right;  
      width:44%;
      /*padding:0 2%;*/
      /*background-color:#000033;*/
    }
         .nameCursor {
           margin-top:30px;
           margin-left:20px;
           height:50px;
           border: 2px double #33ccff;
           background-color:transparent;
         }
            input[type="text"]::-webkit-input-placeholder { 
                color: #33ccff; 
            }
            
         .buttonAccept {
           width:150px;
           height:50px;
           border: 2px double #33ccff;
           background-color:transparent;
           margin-left:50px;
           margin-top: 20px;
         }

.nameBox {
  display:none;
  position:absolute;
  pointer-events:none;
  /*width:100px;*/
  padding:5px;
  background-color:black;
  color:white;
  top:120px;
  left:101px;
}
/*#nameBox {*/
/*  display:none;*/
/*  position:absolute;*/
/*  width:100px;*/
/*  height:20px;*/
/*  background-color:black;*/
/*  color:white;*/
/*  top:120px;*/
/*  left:101px;*/
/*}*/
/*/////////////////////*/


.gamePole {
  position:relative;
  width:100%;
  height:100vh;
  background-color:#ffbf40;
  background-image:url("./image/groudGameWeb.jpg");
  /*cursor : url("./image/myCurcor.cur"), default;*/
  overflow:hidden;
  display:none;
}
.interface {
  position:relative;
  height:100vh;
}
  .preview{
    position:absolute;
    z-index:100;
    bottom:0;
    width:560px;
    height:220px;
    /*background-color:#333333;*/
    background-image:url(./image/pattern.jpg);
  }
    .faceSolder {
      width:200px;
      height:inherit;
      background-color:#A66F00;
      float:left;
      background-image:url(./image/soldier3.png);
      background-size:cover;
    }
    .textSolder{
      width:300px;
      /*height:inherit;*/
      background-color:#333333;
      background-image:url(./image/interfacePanelMini2.png);
      background-repeat:no-repeat;
      background-size:cover;
      padding:30px 25px 25px 30px;
      color:#33ccff;
      /*margin:10px;*/
      float:left;
    }
    .backUp{
        margin-left:45px;
        margin-top:10px;
        width:32px;
        height:32px;
        background-image:url(./image/buttonLeft.png);
        background-size:cover;
        border:none;
        background-color:transparent;
    }
         .backUp:active {
             background-image:url(./image/buttonLeftPressured.png);
         }
    .forward{
        margin-left:5px;
        width:32px;
        height:32px;
        background-image:url(./image/buttonRight.png);
        background-size:cover;
        border:none;
        background-color:transparent;
    }
        .forward:active {
            background-image:url(./image/buttonRightPressured.png);
        }

    .start {
      position:relative;
      height:32px;
      margin-left:10%;
      top:-10px;
      background-color:#990000;
      color:#ffcc00;
      padding:5px;
    }
  .score {
     position:absolute;
     z-index:100;
     right:0;
     padding-bottom: 10px;
     /*width:200px;*/
     /*height:200px;*/
     background-image:url(./image/interfaceBackgroundPanel2.jpg);
     color:#33ccff;
  }
    .scorePlayer {
      padding:10px;
    }
    .ContainerResultsPanel {
        
    }
    .defeatPanel {
        position:absolute;
        top:20%;
        left:50%;
        width:300px;
        margin-left:-200px;
        /*height:200px;*/
        padding:50px;
        /*background-color:#333333;*/
        background-image:url(./image/pattern.jpg);
        z-index:101;
        color:#33ccff;
        display:none;
    }
        .textPanel {
            margin-bottom:30px;
        }
        .resultsPanel{
            height:25px;
        }
        .defeatName {
            float:left;
        }
        .defeatScore {
            float:right;
        }
        .restartGame {
            margin-top: 20px;
            margin-left:25%;
            /*background-color:black;*/
            background-color: #990000;
            color: #ffcc00;
        }
    
    
    .bunkerBlock {
      /*width:150px;*/
      /*height:100px;*/
      position:absolute;
      z-index:1;
      left:50%;
      top:50vh;
      margin-left:-50px;
      margin-top:-50px;
      /*background-color:#333333;*/
    }
    .bunker {
      background-image:url(./image/Bunker.png);
      background-size:cover;
      width:150px;
      height:126px;
      z-index: 1;
    }
    .explosion {
      position:absolute;
      z-index:30;
      /*background-image:url(./image/explosionAnimation2.gif);*/
      background-size:cover;
      pointer-events:none;
      /*width:122px;*/
      width:61px;
      height:57px;
    }
    .corps {
      position:absolute;
      z-index:10;
      background-size:cover;
      width:61px;
      height:57px;
    }
    .bossCorps{
        position:absolute;
        z-index:10;
        background-size:cover;
        width:70px;
        height:65px;
    }
   /*#testBox {*/
   /*  position:absolute;*/
   /*  width:100px;*/
   /*  height:100px;*/
   /*  background-color:black;*/
   /*}*/
 
  
/*.button {*/
/*  display:block;*/
/*}*/

@-webkit-keyframes monstrGoToBunker {
    to {
        left:50%;
        top:50vh;
    }
}
.monstr {
    position:absolute;
    z-index:20;
  	width:60px;
  	height:60px;
  	/*background-image:url(./image/monstrAnimationTopToBottom.gif);*/
  	/*background-repeat:no-repeat;*/
  	background-size:cover;
  	animation-delay: 500ms;
  	-webkit-animation-delay: 500ms;
  	-webkit-animation-name: monstrGoToBunker;
    -webkit-animation-duration: 7s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}
.boss {
    position:absolute;
    z-index:20;
  	width:80px;
  	height:80px;
  	background-image:url(./image/monstrBoss.png);
  	/*background-repeat:no-repeat;*/
  	background-size:cover;
  	/*transition-property: top;*/
   /* transition-duration: 10s;*/
  	-webkit-animation-name: monstrGoToBunker;
    -webkit-animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}
.healingBox {
    position:absolute;
    width: 35px;
    height: 30px;
    background-image:url(./image/healingBoxGif.gif);
    background-size:cover;
    z-index:15;
}
/*------top--------*/
.position1 {
  left:-5%;
  top:-5%;
}
.position2 {
  left:50%;
  top:-5%;
}
.position3 {
  left:90%;
  top:-5%;
}

/*------right--------*/
.position4 {
  left:100%;
  top:10%;
}
.position5 {
  left:100%;
  top:50%;
}
.position6 {
  left:100%;
  top:90%;
}

/*------bottom--------*/
.position7 {
  left:90%;
  top:105%;
}
.position8 {
  left:50%;
  top:105%;
}
.position9 {
  left:10%;
  top:105%;
}

/*------left--------*/
.position10 {
  left:-5%;
  top:90%;
}
.position11 {
  left:-5%;
  top:50%;
}
.position12 {
  left:-5%;
  top:10%;
}

/*@media only screen and (min-width: 1100px) {*/
/*    .bigForm {*/
/*          width: 99%;*/
/*    }*/
/*    .monitorBlock{*/
/*        padding: 130px 256px 80px 154px;*/
/*    }*/
/*}*/
@media only screen and (max-width: 1200px) {
    .bigForm {
          width: 99%;
    }
    .monitorBlock{
        padding: 175px 320px 154px 195px;
    }
}
@media only screen and (min-width: 1400px) {
  .bigForm {
          width: 75%;
    }
    .monitorBlock{
        padding: 155px 285px 120px 203px;
    }
    
}
@media only screen and (min-width: 1600px) {
  .bigForm {
          width: 75%;
    }
    .monitorBlock{
        padding: 225px 391px 170px 247px;
    }
    
}
@media only screen and (min-width: 1800px) {
  .bigForm {
          width: 65%;
    }
    .monitorBlock{
        padding: 222px 370px 171px 245px;
    }
    
}
@media only screen and (min-width: 2500px) {
  .bigForm {
          width: 60%;
    }
    .monitorBlock{
        padding: 315px 460px 265px 281px;
    }
    
}
@media only screen and (min-width: 2700px) {
  .bigForm {
          width: 40%;
    }
    .monitorBlock{
        padding: 330px 453px 270px 281px;
    }
    
}
