/*@charset "utf-8";*/

progress {
  display: block;
  width:100%;
  color:green;
  background-color:red;
  -webkit-appearance: none;
   appearance: none;
   writing-mode: lr-tb;
}
progress::-webkit-progress-bar {
    background: red;
}
progress::-moz-progress-bar {
    background: red;
}

progress::-webkit-progress-value {
    background: green;
}
progress::-moz-progress-value {
    background: green;
}

.bigForm{
  text-align:center;
  padding:10px;
  display:inline-block;
  margin:50px;
  width:300px;
  height:100px;
  background-color:yellow;
}


.nameBox {
  display:none;
  position:absolute;
  width:100px;
  height:20px;
  background-color:black;
  color:white;
  top:120px;
  left:101px;
}
#nameBox {
  display:none;
  position:absolute;
  width:100px;
  height:20px;
  background-color:black;
  color:white;
  top:120px;
  left:101px;
}
/*/////////////////////*/


.gamePole {
  width:100%;
  height:100vh;
  background-color:#ffbf40;
}
.interface {
  position:relative;
  height:100vh;
}
  .preview{
    position:absolute;
    bottom:0;
    width:500px;
    height:200px;
    background-color:#FFD073;
  }
    .faceSolder {
      width:200px;
      height:inherit;
      background-color:#A66F00;
      float:left;
      background-image:url(./image/solder.jpg);
      background-size:cover;
    }
    .textSolder{
      width:280px;
      /*height:inherit;*/
      background-color:#876ED7;
      /*padding:10px;*/
      margin:10px;
      float:left;
    }
  .score {
     position:absolute;
     right:0;
     /*width:200px;*/
     background-color:#999999;
  }
    .scorePlayer {
      padding:10px;
    }
    .bunkerBlock {
      width:100px;
      height:100px;
      position:absolute;
      left:50%;
      top:50vh;
      margin-left:-50px;
      margin-top:-50px;
      background-color:#333333;
    }
    .bunker {
      background-image:url(./image/Bunker.png);
      background-size:cover;
      width:80px;
      height:80px;
    }
  
/*.button {*/
/*  display:block;*/
/*}*/

@-webkit-keyframes monstrGoToBunker {
    to {
        left:50%;
        top:50vh;
    }
}
.monstr {
    top:1vh;
    position:absolute;
  	width:60px;
  	height:60px;
  	background-image:url(./image/monstrSmall.png);
  	/*background-repeat:no-repeat;*/
  	background-size:cover;
  	animation-delay: 500ms;
  	-webkit-animation-delay: 500ms;
  	-webkit-animation-name: monstrGoToBunker;
    -webkit-animation-duration: 7s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}
.a1 {
  left:1%;
}
.a2 {
  left:100%;
}